#abovethecloudsbtn{
    color:#007bff
}

#homebtn{
    color: #28a745;
}

#aboutbtn{
    color: #fd7e14;
}

#contactbtn{
    color:#6610f2
}

#mybookingsbtn{
    color:#da2637
}

#login{
    color: #06621b
}

#logoutbtn{
    color:#caa20d
}

#loginbtn{
 color: #17a2b8
}

#signupbtn{
    color: #054a3c
}