{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/passwordreset.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
{% endblock css %}

<div id="passwordreset">
    <div id="pwd_reset">
<h3>Enter new password</h3>
<p>Please enter new password twice, so we can verify you typed it in correctly.</p>

<form method="post">
   {% csrf_token %}
    {{ form }}
    <p>
        <button type="submit" class="btn btn-block btn-danger" name="send email">
            <b>Update password</b>
    </button>
    </p>

</form>
    </div>
</div>