{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/forgotpassword.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
{% endblock css %}

<div id="passwordreset">
    <div id="pwd_reset">
<h3>Password reset sent!</h3>

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

         </div>
    </div>