{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/forgotpassword.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
{% endblock css %}

<div id="passwordreset">
    <div id="pwd_reset">
<h3> Password Reset </h3>
<p> Forgot your password? Enter your email address below, and we will email you instructions for setting a new one</p>
<form method = "post">
    {% csrf_token %}
    {{ form }}
    <p>
        <button type="submit" class="btn btn-block btn-danger" name="send email">
            <b>Send Email</b>
    </button>
    </p>
</form>
        </div>
    </div>