{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/forgotpassword.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
{% endblock css %}

<div id="passwordreset">
    <div id="pwd_reset">
<h3>Password reset Complete</h3>
<p>Your password has been set. You may go ahead and log in now</p>
        <p>
        <button type="submit" class="btn btn-block btn-danger" name="Login">
            <a style="color: white;font-size: 20px" href="/userlogin">Login now!!</a>
    </button>
    </p>
    </div>
</div>
